*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans',sans-serif;
}

/*------> nav bar Starts<------*/

#cont1 {
    top: 0;
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color:#f5f5f5;
    color: black;
    position: sticky;
    padding: 0 20px;
    font-size: 20px;
}
#logo {
    width: 10%;
    padding-left: 10px;
  }
  
#logo h1 {
    padding-top: 10%;
    font-size: 200%;
    margin: auto;
    font-family: 'Bruno Ace SC', cursive;
    cursor: pointer;
}

#nav1 {
    width: 70%;
    height: 80px;
}
#nav1 ul{
    width: 80%;
    display: flex;
    padding-top: 30px;
    justify-content: space-evenly;
    align-items: center;
}
#nav1 ul li {
    display: inline-block;
}

#menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    z-index: 100;
    display: none;
}
.bar{
    height: 5px;
    width: 100%;
    background-color:black;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-4px);
    background-color:black;
}
#bar3{
    transform: translateY(4px);
    background-color:black;
}


/*------> nav bar ends <------*/

#cont {
    width: 80%;
    margin: auto;
    background-color: transparent;
    padding-left: 20px;
    padding-bottom: 20px;
}
#header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#header  h1{
    font-weight: 600;
    font-size: 40px;
    color: rgb(101, 101, 190);
}
#personal {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    width: 100%;
    gap: 10px 20px;
    margin: auto;
}
#personal div{
    display: flex;
    flex-direction: column;
}
#parent {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    gap: 10px 20px;
    margin: auto;
}
#parent div{
    display: flex;
    flex-direction: column;
}

#previousStandards {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    width: 100%;
    gap: 10px 20px;
    margin: auto;
    
}
#cont > h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
#previousStandards div{
    display: flex;
    flex-direction: column;
}
#parent input {
    width: 70%;
    padding: 10px;
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}
#previousStandards input{
    width: 70%;
    padding: 10px;
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}
#personal input,
#personal select {
    width: 70%;
    padding: 10px;
    display: block;
    font-size: 15px;
}

#personal label {
    margin-bottom: 5px;
}
#parent label {
    margin-bottom: 5px;
}
#previousStandards label {
    margin-bottom: 5px;
}
#btn {
    width: 100px;
    height: 50px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: lightskyblue;
}
#btn a{
    text-decoration: none;
    font-size: 15px;
}

#btn:hover{
    cursor: pointer;
    background-color:green;
    color: #f5f5f5;
}

@media all and (min-width:481px) and (max-width:768px){
    #nav1{
       display: none;
    }
    #menu {
        display: block;
    }
}
@media (max-width:480px){
    #nav1{
       display: none;
    }
    #menu {
        display: block;
        height: 2px;
    }
}